@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}

body {
  background: #f4f7fa;
  color: #424242;
  font-family: 'Noto Sans', sans-serif;
}

/* Your CSS goes here */

app-root > .card > .card-header{
  color: #ffffff;
  background-color: #ff6262;
}

.progress-bar{
  background-color: #a5dc6b !important;
}

small{
  font-size: 0.725em !important;    
}

.modal{
  display: block !important;
}
